REACT_APP_API_URL=https://winessy.com
REACT_APP_API_URL_DEV=https://backend.winessy.com
REACT_APP_CHAIN_ID="56"
REACT_APP_NODE="https://bsc-dataseed.binance.org"

### SMART CONTRACTS #################################################
MANAGER_FOR_TEST_NET="0x2590901223767f17E5bDC1BDD33830B053243a59"
WINE_FIRST_SALE_MARKET="0xeda2766560032d1f25315074bb883fc9f7a4071e"
WINE_MARKET_PLACE="0x009102b6316A57de021Ee72D561A773432d11D26"
WINE_DELIVERY_SERVICE="0xdc36683bf6e1b732a631e10ae12e6470df8cfa45"