@import "src/styles/variables";
@import "src/styles/mixins";

.forgot-password {
    background: linear-gradient(262.34deg, rgba(189, 218, 56, 0.15) 0%, rgba(0, 167, 227, 0.15) 48.96%, rgba(136, 176, 166, 0.15) 100%);
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - #{$h-Header}px);

    @include media(m) {
        background-image: url("../../assets/images/auth-bg-mask.png"),
            linear-gradient(262.34deg, rgba(189, 218, 56, 0.15) 0%, rgba(0, 167, 227, 0.15) 48.96%, rgba(136, 176, 166, 0.15) 100%);
        background-repeat: no-repeat;
        background-position: center 30%;
    }

    @media (max-height: 849px) {
        background-size: contain;
    }

    &__form {
        .baseInput {
            margin-bottom: 14px;
        }
    }

    &__submit {
        margin: 0 auto 40px;
    }

    &__errorForm {
        @include Reg(14, $primary-validate-color);
    }

    &__text {
        margin: 0 0 40px;

        &--gray {
            color: $primary-label-color;
        }
    }

    &__forgot-link {
        @include font(16, $red-color, false, true);
    }
}