@import "src/styles/variables";

.modal {
    &Wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-Modals;
    }

    &Backdrop {
        background-color: rgba($primary-bg-color, .8);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
